
<!DOCTYPE html>
<html>

<head>

    <title>My Horror Game</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<head>

    <title>My Horror Game</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">

</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">
<body>
<div class="title-block">

    <h1>MY HORROR GAME</h1>

    <h2>Ckopo reliz</h2>

